.flex-box-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
}

.flex-box-col {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
}